.error-display {
  background-color: var(--md-error-color);
  border: 1px solid var(--md-error-color);
  padding: var(--md-spacing-sm);
  border-radius: var(--md-border-radius-medium);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000; 
  animation: slideIn 0.5s; 
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--md-spacing-sm); 
}

.error-icon {
  padding-left: var(--md-spacing-sm);
  padding-right: var(--md-spacing-sm);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1px;
}

.error-content p {
  font-size: var(--md-font-size-subtitle2);
  color: var(--md-on-error);
}

.dismiss-btn {
  background: none; 
  border: none;    
  cursor: pointer; 
  padding: 0;    
}

.dismiss-btn svg {
  width: 24px; 
  height: 24px;
  margin-top: 6px;
  margin-left: 10px;
}

@keyframes slideIn {
  from {
    transform: translateY(-100%); 
  }
  to {
    transform: translateY(0);
  }
}