.app-container {
  height: 100vh;
  background: url("../../app/assets/images/image.jpg") no-repeat center center
    fixed;
  background-size: cover;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: var(--md-spacing-lg);
}

.login-card {
  max-width: 400px;
  width: 100%;
  padding: var(--md-spacing-lg);
  border-radius: var(--md-spacing-sm);
  box-shadow: 0 4px 8px var(--md-primary-color-shadow);
  background-color: var(--md-surface-color);
  transition: max-width var(--md-transition-fast);
}

.login-title {
  font-size: var(--md-font-size-headline5);
  font-weight: bold;
  text-align: center;
  color: var(--md-primary-color-variant);
}

.login-subtitle {
  font-size: var(--md-font-size-headline6);
  text-align: center;
  margin-bottom: var(--md-spacing-lg);
}

.login-form {
  display: flex;
  flex-direction: column;
}

button[type="submit"] {
  margin-top: var(--md-spacing-md);
  font-size: var(--md-font-size-headline6);
}

.form-field {
  width: 100%;
}

@media (max-width: 768px) {
  .login-card {
    max-width: 90%;
    padding: var(--md-spacing-md);
  }

  .login-title {
    font-size: var(--md-font-size-headline5);
  }

  button[type="submit"] {
    font-size: var(--md-font-size-subtitle1);
  }
}
