.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  background: url('../../app/assets/images/image.jpg') no-repeat center center fixed;
  background-size: cover;
}

.login-card {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.9);
  transition: max-width 0.3s ease;
}

.login-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #673AB7;
}

.login-subtitle {
  font-size: 16px;
  text-align: center;
  color: #757575;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

button[type="submit"] {
  margin-top: 15px;
  font-size: 16px;
}

.form-field {
  width: 100%;
}

@media (max-width: 768px) {
  .login-card {
    max-width: 90%;
    padding: 15px;
  }

  .login-title {
    font-size: 20px;
  }

  .login-subtitle {
    font-size: 14px;
  }

  button[type="submit"] {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .login-title {
    font-size: 18px;
  }

  .login-subtitle {
    font-size: 12px;
  }
}
