

.weather-city-name {
  color: var(--text-color);
  font-size: 1.4rem; 
  margin-bottom: 15px;
}

.weather-location {
  font-size: 0.9rem; 
  color: #555; 
}

.weather-details {
  margin-top: 20px; 
}

.weather-details p {
  font-size: 1rem;
  margin: 8px 0; 
  line-height: 1.5; 
  color: #333; 
}

.temp {
  font-weight: bold; 
  color: #e53935; 
}

.wind, .direction, .time, .day-night {
  color: #2196f3; 
}
