.weather-city-name {
  color: var(--md-on-surface);
  font-size: var(--md-font-size-headline6);
  margin-bottom: var(--md-spacing-md);
}

.weather-location {
  font-size: var(--md-font-size-subtitle1);
  color: var(--md-on-surface);
}

.weather-details {
  margin-top: var(--md-spacing-lg);
}

.weather-details p {
  font-size: var(--md-font-size-subtitle1);
  margin: var(--md-spacing-sm) 0;
  line-height: 1.5;
  color: var(--md-on-surface);
}

.wind,
.direction,
.time,
.day-night,
.temp {
  font-weight: var(--md-font-weight-bold);
  color: var(--md-tertiary-color-variant);
}

.day {
  font-weight: var(--md-font-weight-bold);
  color: var(--md-secondary-color-variant);
}
.night {
  font-weight: var(--md-font-weight-bold);
  color: var(--md-tertiary-color-variant);
}
